@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bday.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    perspective: 1000px;
}

.card {
    width: 80%;
    max-width: 280px;
    height: 360px;
    position: relative;
    transition: 2s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}

.outside, .inside {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem;
    position: absolute;
    backface-visibility: hidden;
}

.outside {
    background-color: blanchedalmond;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
}

.outside h1 {
    font-size: 2rem;
    font-weight: bold;
    color: salmon;
    margin-bottom: 30px;
}

.inside {
    background-color: rgb(255, 244, 79);
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    transform: rotateY(180deg);
}

.inside h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

.block {
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    perspective: 800px;
}

.frames {
    width: 100%;
    height: auto;
    max-height: 150px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8rem;
    transform: rotateY(-230deg) rotateX(20deg);
    position: relative;
    margin-bottom: 20px;
}

.frames img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.frames p {
    font-size: 16px;
    font-weight: bold;
    transform: rotateY(180deg);
    text-align: center;
}

.frames:nth-child(1) {
    background-color: coral;
}

.frames:nth-child(2) {
    background-color: goldenrod;
}

.frames:nth-child(3) {
    background-color: burlywood;
}

@media (min-width: 600px) {
    .card {
        width: 280px;
        height: 360px;
        top: 100px;
        left: 230px;
    }

    .outside h1 {
        font-size: 3rem;
    }

    .inside h3 {
        font-size: 1.2rem;
    }

    .frames img {
        width: 125px;
        height: 125px;
    }

    .frames p {
        font-size: 20px;
    }
}
